@media screen and (max-width: 766px)
{
    .overlay {
        /* display: none; */
        /* width: 0%; */
        background-color: #0a0e12;
        padding: 1rem 0;
        height: 100vh;
        height: 100vh;
        width: 100%;
        width: 0;
        position: fixed;
        /* top: 10%; */
        right: 0;
        transition: .7s;
        /* z-index: 999; */
        overflow-x: hidden;
        max-width: 40vw;        
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .overlay > .container {
        display: flex;
        flex-direction: column;
        padding: 0px 3rem;
        gap: 2rem;

    }

    .logo {
        font-size: clamp(.5rem, 1rem + 2vw, 1.8rem );
        font-size: clamp(.8rem, 1rem + 3vw, 1rem );
        /* font-size: calc(1rem + 2vw);
        font-size: 2rem; */
        justify-content: space-between;
        align-items: center;
    }

    .logo i {
        font-size: 1.5rem;
    }

    .overlay-menu-container {
        display: grid;
        gap: 2rem;
    }
    
    .overlay-menu-item {
        /* border: 1px solid; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        font-size: clamp(.8rem, 1rem + 3vw, 1rem );
    }

    .overlay-menu-item i {
        font-size: 1rem;
    }

    .available {
        color: #fff;
    }

}